@* @model List<SportDomain.models.Fixture> *@

@* @foreach (var match in Model) *@
@* { *@
@*     <div class="match-container card mb-2"> *@
@*         <div class="card-body"> *@
@*             <h6 class="card-title">@match.Teams.Home.Name vs @match.Teams.Away.Name</h6> *@
@*             <p><strong>Odds:</strong></p> *@
@*             <ul> *@
@*                 @if (match.Odds != null && match.Odds.Bookmakers.Any()) *@
@*                 { *@
@*                     var mainBookmaker = match.Odds.Bookmakers.FirstOrDefault(); *@
@*                     var mainBet = mainBookmaker?.Bets?.FirstOrDefault(); *@

@*                     if (mainBet != null) *@
@*                     { *@
@*                         @foreach (var odd in mainBet.Values) *@
@*                         { *@
@*                             <li>@odd.Value: @odd.Odd</li> *@
@*                         } *@
@*                     } *@
@*                 } *@
@*                 else *@
@*                 { *@
@*                     <li>No odds available</li> *@
@*                 } *@
@*             </ul> *@
@*         </div> *@
@*     </div> *@
@* } *@
