@page
@model UserAgreementModel
@{
    ViewData["Title"] = "User Agreement";
}

<h2>User Agreement</h2>
<p>
    Please read and accept our <a href="/terms-of-service">Terms of Service</a> and
    <a href="/privacy-policy">Privacy Policy</a> to continue using the website.
</p>
<P>
    dasdsadsadsadadsadsa
</P>
<h2>🗣 GET IT TWISTED 🌪 , GAMBLE ✅ START GAMBLING 👍 GAMBLING IS AN INVESTMENT 🎰 AND AN INVESTMENT ONLY 👍 . YOU WILL PROFIT 💰 ,
    YOU WILL WIN ❗ ️ YOU WILL BECOME A BILLIONAIRE 💵 📈 AND REBUILD YOUR ♥♥♥♥♥♥♥ LIFE 🤯</h2>

<form method="post">
    <button type="submit" class="btn btn-primary">Accept</button>
</form>
